@model IEnumerable<SistemaNominaAPPWeb.Models.DeptEmp>

@{
    ViewData["Title"] = "Asignacion Empleados";
}

<h1>Lista de Empleados asignados a un Departamento</h1>

<p>
    <a asp-action="Create">Nueva asignacion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ToDate?.ToString("dd/MM/yyyy HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DeptName)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
