@model IEnumerable<SistemaNominaAPPWeb.Models.Employee>

@{
    ViewData["Title"] = "Empleados";
}

<h1>Lista de Empleados Activos</h1>

<p>
    <a asp-action="Create">Nuevo empleado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpNo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EmpNo">Detalles</a>
                @if (User.IsInRole("Administrador"))
                {
                    <span>|</span> <a asp-action="Delete" asp-route-id="@item.EmpNo">Eliminar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>

<div class="mt-3">
    @if (ViewBag.TotalPages != null && ViewBag.TotalPages > 1)
    {
        for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            if (i == ViewBag.CurrentPage)
            {
                <span class="btn btn-primary btn-sm">@i</span>
            }
            else
            {
                <a class="btn btn-outline-primary btn-sm"
                   asp-action="Index"
                   asp-route-page="@i">@i</a>
            }
        }
    }
</div>